<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis573.jobboard"
    >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    // Added
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    // Added for Profile photo
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    //
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.parse.starter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" />

    <!-- NEEDED TO NOTIFY THE USER -->
    <service android:name="com.parse.PushService" />

    <receiver android:name="com.parse.ParseBroadcastReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
    </receiver>
    <receiver
        android:name="com.parse.GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <category android:name="com.parse.starter" />
        </intent-filter>
    </receiver>
    <receiver
        android:name="com.parse.ParsePushBroadcastReceiver"
        android:exported="false" >
        <intent-filter>
            <action android:name="com.parse.push.intent.RECEIVE" />
            <action android:name="com.parse.push.intent.DELETE" />
            <action android:name="com.parse.push.intent.OPEN" />
        </intent-filter>
    </receiver>

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".ParseStarterProjectActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".VenmoWebViewActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".HomepageActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_homepage" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".CurrentUserActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_current_user" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".CartActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_cart" >
        </activity>
        <activity
            android:name=".JobCreationActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_job_creation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".JobDetailsActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_job_details" >
        </activity>
        <activity
            android:name=".MyPostedJobsActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_my_posted_jobs" >
        </activity>
        <activity
            android:name=".JobRequestorsActivity"
            android:label="@string/title_activity_job_requestors" >
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_searchable" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ViewRequestorActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_view_requestor"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".NotificationsPageActivity"
            android:launchMode = "singleInstance"
            android:label="@string/title_activity_notifications_page" >
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity android:name=".MessagingActivity" >
        </activity>
    </application>

</manifest>
